<script setup>
  import { ref } from 'vue';

  let todoList = ref([]);
  let todo = ref(null);
  let description = ref(null);
  let dueDate = ref(null);

  const addTodo = () => {
    if (validateTodo(todo.value)) {
      let id = todoList.value.length;
      todoList.value.push({
        id: ++id,
        todo: todo.value,
        description: description.value,
        dueDate: dueDate.value,
        is_done: false,
      });

      todo.value = description.value = dueDate.value = null;
    }
  };

  let selectedTodo = ref(null);
  const selectTodo = (row) => {
    selectedTodo.value = row;
    todo.value = row.todo;
    description.value = row.description;
    dueDate.value = row.dueDate;
  };

  const updateTodo = () => {
    if (validateTodo(todo.value)) {
      let index = todoList.value.findIndex((t) => t.id === selectedTodo.value.id);
      if (index !== -1) {
        todoList.value[index].todo = todo.value;
        todoList.value[index].description = description.value;
        todoList.value[index].dueDate = dueDate.value;
      }

      todo.value = description.value = dueDate.value = selectedTodo.value = null;
    }
  };

  const markAsDone = (row) => {
    if (confirm(`Are you sure you want to mark ${row.todo} as done?`)) {
      let index = todoList.value.findIndex((t) => t.id === row.id);
      index !== -1 && (todoList.value[index].is_done = true);
    }
  };

  const removeTodo = (row) => {
    if (confirm(`Are you sure you want to delete ${row.todo}?`)) {
      let index = todoList.value.findIndex((t) => t.id === row.id);
      index !== -1 && todoList.value.splice(index, 1);
    }
  };

  const validateTodo = (new_todo) => {
    let index = todoList.value.findIndex((t) => t.todo === new_todo);
    if (index !== -1) {
      alert('Todo already existed!');
      return false;
    } else {
      return true;
    }
  };
</script>

<template>
  <div class="d-flex justify-content-center container">
    <div class="w-75">
      <form @submit.prevent="!selectedTodo ? addTodo() : updateTodo()">
        <div class="mb-3 mt-5">
          <label for="todo">What's your Todo?</label>
          <input v-model="todo" type="text" class="form-control" id="todo" placeholder="eg. Create Todo Application">
        </div>
        <div class="mb-3">
          <label for="description">Description</label>
          <input v-model="description" type="text" class="form-control" id="description" placeholder="Add a description">
        </div>
        <div class="mb-3">
          <label for="dueDate">Due Date</label>
          <input v-model="dueDate" type="date" class="form-control" id="dueDate">
        </div>
        <button v-if="!selectedTodo" type="submit" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i>Add Todo</button>
        <button v-else type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Update Todo</button>
      </form>
      <div @click="selectTodo(row)" v-for="row in todoList" :key="row.id" class="toast show mt-2 w-100">
        <div class="toast-header">
          <strong class="me-auto">{{row.todo}}</strong>
          <button :class="`btn btn-${row.is_done ? 'success' : 'outline-secondary'} btn-sm`" @click.stop="markAsDone(row)"><i class="bi bi-check-lg"></i></button>
          <button class="btn btn-danger btn-sm ms-1" @click.stop="removeTodo(row)"><i class="bi bi-trash-fill"></i></button>
        </div>
        <div class="toast-body">
          <p>Description: {{row.description}}</p>
          <p v-if="row.dueDate">Due Date: {{row.dueDate}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
